<%= form_with(model: resume, local: true) do |form| %>
  <% if resume.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(resume.errors.count, "error") %> prohibited this resume from being saved:</h2>

      <ul>
      <% resume.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :resume_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :resume_email %>
  </div>

  <div class="field">
    <%= form.label :dob %>
    <%= form.date_select :dob, id: :resume_dob %>
  </div>

  <div class="field">
    <%= form.label :phonenumber %>
    <%= form.text_field :phonenumber, id: :resume_phonenumber %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_area :address, id: :resume_address %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.check_box :gender, id: :resume_gender %>
  </div>

  <div class="field">
    <%= form.label :qualification %>
    <%= form.text_field :qualification, id: :resume_qualification %>
  </div>

  <div class="field">
    <%= form.label :projects %>
    <%= form.text_area :projects, id: :resume_projects %>
  </div>

  <div class="field">
    <%= form.label :experience %>
    <%= form.text_field :experience, id: :resume_experience %>
  </div>

  <div class="field">
    <%= form.label :hobbies %>
    <%= form.text_field :hobbies, id: :resume_hobbies %>
  </div>

  <div class="field">
    <%= form.label :knownproglangs %>
    <%= form.text_area :knownproglangs, id: :resume_knownproglangs %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
