<p id="notice"><%= notice %></p>

<h1>Resumes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Dob</th>
      <th>Phonenumber</th>
      <th>Address</th>
      <th>Gender</th>
      <th>Qualification</th>
      <th>Projects</th>
      <th>Experience</th>
      <th>Hobbies</th>
      <th>Knownproglangs</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @resumes.each do |resume| %>
      <tr>
        <td><%= resume.name %></td>
        <td><%= resume.email %></td>
        <td><%= resume.dob %></td>
        <td><%= resume.phonenumber %></td>
        <td><%= resume.address %></td>
        <td><%= resume.gender %></td>
        <td><%= resume.qualification %></td>
        <td><%= resume.projects %></td>
        <td><%= resume.experience %></td>
        <td><%= resume.hobbies %></td>
        <td><%= resume.knownproglangs %></td>
        <td><%= link_to 'Show', resume %></td>
        <td><%= link_to 'Edit', edit_resume_path(resume) %></td>
        <td><%= link_to 'Destroy', resume, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Resume', new_resume_path %>
